body {
  min-height: 100vh;
  background: url(/src/img/img.jpg) no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

#app {
  display: flex;
  justify-content: center;
}

.clock {
  position: relative;
  background: url(/src/img/21.jpg) -1.5px 0 no-repeat;
  background-size: cover;
  width: 500px;
  height: 494px;
  border-radius: 50%;
}
.clock::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 49%;
  top: 50%;
  transform: translate(-40%, -50%);
  background-color: rgb(57, 8, 8);
  z-index: 1;
}
.clock__arrow {
  position: absolute;
  left: 49%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  background: linear-gradient(0deg, rgba(71, 0, 0, 0) 50%, rgb(57, 8, 8) 50%);
  border-radius: 50%;
}
.clock__arrow--second {
  height: 82%;
  width: 3px;
  background: linear-gradient(0deg, rgba(71, 0, 0, 0) 50%, rgb(31, 80, 181) 50%);
}
.clock__arrow--minute {
  height: 82%;
}
.clock__arrow--hour {
  height: 44%;
}